<H1>My Favorites</H1>
<% favorites.forEach(function(favorite) { %>
  <div>
    <h3><a href="/favorites/<%= favorite.id %>">
      <span id="<%=favorite.indicatorcode%>"><h3></h3></span>
    </a></h3>
  </div>
  <a href="/favorites/<%= favorite.id %>" class="delete-link" >Remove from Favorites</a>
  <hr>
<% }); %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
// on ready calls ajax request function for hyperlinked title via indicatorcode
  $(document).ready(function() {
    <% favorites.forEach(function(favorite) { %>
      <% var icString = favorite.indicatorcode.toString()  %>
      grabChartData("<%= icString %>");
    <% }); %>
  });
</script>
