<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center">Contact Us </h1>
        <p>123 Fake St. Seattle, WA 98105 </p>
        <p> 425.555.9898</p>
        <hr>
    </div>
</div>
