<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center">Home page </h1>
        <hr>
    </div>
</div>
<form action='/' method="GET">
    <input type="text" name="q" value="" />
    <input type="submit" />
</form>
<h1>Search Results</h1>
<table id="wholeTable" border="1">
    <tr id='r1'>
        <% parsedMain.dataset.column_names.forEach(function(columnName) { %>
            <td>
                <%= columnName %>
            </td>
            <% }); %>
    </tr>
    <% parsedMain.dataset.data.forEach(function(dataPoint) { %>
        <tr>
            <td>
                <%= dataPoint[0] %>
            </td>
            <td>
                <%= dataPoint[1] %>
            </td>
        </tr>
        <% }); %>
</table>
