<a name="about"></a>
<div id="topDiv"class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>The Best Investment On Earth is Earth</h1>
                    <h3>Market Data from Zillow</h3>
                    <hr class="intro-divider">
                    <!-- <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>





<!-- drop down menu -->
<form action="/api/results" method="POST">
  <div class="form-group">
    <label> Search For:</label>
    <select id="indicatorCode" name="indicatorCode">
      <option value="A">All Homes</option>
      <option value="SF"> Single Family Residences</option>
      <option value="C">Condominiums</option>
      <option value="MVSF"> Price per Square Foot</option>
      <option value="1B">1 Bedroom</option>
      <option value="2B">2 Bedroom</option>
      <option value="3B">3 Bedroom</option>
      <option value="4B">4 Bedroom</option>
      <option value="5B">5 Bedrooms or more</option>
      <option value="BT">Bottom Tier</option>
      <option value="MT">Middle Tier</option>
      <option value="TT">Top Tier</option>
      <option value="RMP"> Median Rent, Homes Listed for Rent</option>
      <option value="RAH">Estimated Rent, All Homes in Region</option>
      <option value="RZSF"> Estimated Rent per Square Foot</option>
      <option value="PRR">Price-to-Rent Ratio</option>
      <option value="MLP">Median List Price</option>
      <option value="MPC">Median Price Cut</option>
      <option value="SLPR">Ratio of Sale Price to List Price</option>
      <option value="SFL">Sold for Loss</option>
      <option value="SFG">Sold for Gain</option>
      <option value="IV">Increasing Values</option>
      <option value="DV">Decreasing Values</option>
      <option value="SPY">Turnover in Housing Market, Past 1 Year</option>
      <option value="HR">Number of Homes for Rent</option>
      <option value="HF">Monthly Foreclosures per 10,000 Homes</option>
      <option value="FR" selected="selected">Percentage of Sales that were Foreclosures</option>
    </select>
  </div>
</form>

<!--html for chart and table  -->

<div id="chartMetaData">
  <div class="row">
    <div class="col-lg-12">
      <div id="chartName">
        <span class="text-nowrap"><p></p></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=".col-xs-12 .col-md-12 .col-lg-10" id="curve_chart"></div>
    <%if(currentUser){%>
      <p><button id="favButton">Add to Favorites</button></p>
    <%}%>
    <div id="chartDescription">
      <p></p>
    </div>
    <table id="wholeTable" class=".col-xs-offset-0 .col-md-4 .col-lg-10 table table-striped table-responsive table-condensed">
      <tr id="r1"> </tr>
    </table>
  </div>

</div>
<!-- if logged in they can add it as a favorite -->




<!-- I'm going to enable more parameters this is the beginning of that code -->
<!-- <div class="form-group">
  <label> Area Categories: </label>
  <select name="areaCategory">
    <option value="S" selected> State</option>
    <option value="CO">County</option>
    <option value="M"> Greater Metropolitan Area</option>
    <option value="C">City</option>
    <option value="N">Neighborhood</option>
    <option value="Z">Zip Code</option>
  </select>
</div>

<div class="form-group">
  <label>Zip Code </label>
  <input type="text" pattern="[0-9]{5}" class="form-control" name="areaCode">
</div> -->
