<div>
    <form action="/posts/<%= post.id %>" method="PUT" class="put-form">
        <p>
            Title:
        </p>
        <p>
            <input type="text" name="title" value="<%= post.title %>" />
        </p>
        <p>
            Content:
        </p>
        <p>
            <textarea name="content"><%= post.content %></textarea>
        </p>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
</div>
